.home{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}

.imgContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../Images/homeImg.jpg') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0% 100%;
    animation: startAnimation 10s linear forwards reverse;
}

.imgContainer::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
}

.homeTitle, .homeBtn{
    z-index: 1;
}


.homeBtn{
    margin-top: 2rem;
    font-size: 1.2rem;
    height: 60px;
    width: 350px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.homeBtn:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}

.homeTitle{
    text-align: center;
    color: white;
}

@keyframes startAnimation {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
  }


  @media screen and (max-width: 450px){
    .homeBtn{
        width: 80%;
    }
  }


  @media only screen and (orientation: landscape) and (max-width: 936px){
    .home{
        height: 80vh;
        
    }
}
