.card{
    margin: 1rem;
    height: 30vw;
    width: 30vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bigger{
    flex: 3 1 300px;
    background-color: yellow;
    

}
.smaller{
    flex: 2 1 200px;
    background-color: red;
}

.cardImgContainer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    height: 80%;
    width: 100%;
    background-color: black;
    position: relative;
}

.cardImg{
    position: absolute;
    width:  100%;
    transition: all 0.2s linear;
}
.cardImg:hover{
    transform: scale(1.1);

}

@media screen and (max-width: 626px){
    .card{
        height: 60vw;
    }
}



@media only screen and (orientation: landscape) and (max-width: 778px){
    .card{    
        height: 30vw;  
    }

    .cardImg{   
        width: 100%;    
    }    
}
