.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 242, 242);
}

.cardContainerOne, .cardContainerTwo{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}