.hero{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.cardContainerOne, .cardContainerTwo{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}